<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>新濠城.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37D65AB11F73C50C00C6C00C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37D65AC91F73C50C00C6C00C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37D65AD41F73C50C00C6C00C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
